services:
  astro:
    build:
      context: .
      dockerfile: Dockerfile
      network: host     # ayuda en Portainer si hay problemas de red en el build
    # image: sgaldos/astro-portfolio:latest
    ports:
      - "8081:8081"
    restart: unless-stopped